* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
}

.heading {
    background-color: black;
    height: 80px;
    color: rgb(75, 255, 75);
    text-align: center;
    padding-top: 35px;
    font-size: 40px;
}

.images {
    text-align: center;
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.image {
    margin: 0 10px;
}

.image:hover {
    cursor: pointer;
    opacity: 0.8;
}

img {
    max-width: 100%;
    height: auto;
}

.score-board {
    display: flex;
    font-size: 35px;
    color: rgb(252, 252, 76);
    gap: 80px;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}

.mssg-container {
    text-align: center;
    margin-top: 6%;
}

.mssg {
    background-color: rgb(5, 14, 18);
    font-size: 25px;
    display: inline;
    padding: 15px;
    color: white;
    border-radius: 1rem;
}

#user-score,
#comp-score {
    color: rgb(233, 214, 249);
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 25px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .images {
        flex-wrap: wrap;
    }

    .image {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        margin-bottom: 20px;
    }

    img {
        height: auto;
    }

    .score-board {
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .user {
        flex: 0 0 50%;
        text-align: center;
    }

    .mssg-container {
        margin-top:20%;
    }

    .mssg {
        font-size:18px;
        padding: 20px;
    }
}
